.card {
  width: 80%;
  display: flex;
  border: 1px solid rgb(221, 220, 220);
  margin: 0 auto 30px auto;
  background-color: #fff;
}

.action {
  display: flex;
  list-style: none;
  margin-left: -40px;
}

.action li {
  margin-right: 10px;
  cursor: pointer;
}

.action li button {
  border: transparent;
  background-color: white;
}

.action li button:hover {
  color: #2274ee;
}

.mtminus26px {
  margin-top: -26px;
}

.actionline {
  height: 20px;
  margin-top: 0;
}

.chart {
  width: 60px;
  height: 60px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-right: 5px solid #2274ee;
  border-bottom: 5px solid #2274ee;
  border-left: 5px solid #2274ee;
  margin-right: 10px;
}

.progress {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.completed {
  margin-top: -30px;
}

.btn {
  padding: 10px;
  background-color: #2274ee;
  border: 0 solid #fff;
  color: #fff;
  font-weight: 300;
}

.divline {
  width: 80%;
  margin-top: 40px;
  margin-bottom: 35px;
}
