.mr-4 {
  margin-right: 40px;
}

.mr-7 {
  margin-right: 70px;
}

.mr-1 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-6 {
  margin-left: 60px;
}

.mt-2p5 {
  margin-top: 25px;
}

.ml-x {
  margin-left: 10%;
}

.cl-blue {
  color: #2274ee;
}
